html, body {
  margin: 0;
}

img {
  height: 200px;
  width: 300px;
}

.header {
  position: fixed;
  background-color: lightpink;
  margin: 0;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
}

.header h1 {
  margin-left: 50px;
  margin-top: 30px;
}

.home, .showStory {
  margin-top: 150px;
  margin-left: 50px;
}

.storyPreview {
  margin: 20px;
}