html, body {
  margin: 0;
}

img {
  height: 200px;
  width: 300px;
}

a:hover {
  color: white;
}

.header {
  position: fixed;
  background-image: url(http://i.telegraph.co.uk/multimedia/archive/02357/eso-summary_2357457k.jpg);
  margin: 0;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1000;
}

.header h1 {
  margin-left: 50px;
  margin-top: 30px;
}

.home, .showStory {
  margin-top: 130px;
  margin-left: 50px;
}

.storyPreview {
  margin: 20px;
}

.storyImage {
  margin-bottom: 30px;
}
