<div class="home">
  <form ng-submit="newStory()">
    <label>Title:</label>
    <input type="text" ng-model="storyData.title"/>
    <label>Link:</label>
    <input type="text" ng-model="storyData.link"/>
    <label>Image URL:</label>
    <input type="text" ng-model="storyData.image"/>
    <label>Summary:</label>
    <textarea ng-model="storyData.summary"></textarea>
    <button type="submit" class="button button-positive button-block">Submit</button>
  </form>

  <div class="storyPreview" ng-repeat="story in stories">
    <img ng-src="{{story.image}}"/>
    <a ng-href="/#story/{{story._id}}"><h3>{{story.title}}</h3></a>
  </div>
</div>