<div class="showStory">
  <h2>hay</h2>
  <p>{{story.title}}</p>
  <p>{{story.link}}</p>
  <p>{{story.image}}</p>
  <p>{{story.summary}}</p>
  <h2>Opinions</h2>
  <div ng-repeat="opinion in story.opinions track by $index">
    <p>{{opinion}}</p>
    <hr>
  </div>
  <form ng-submit="addOpinion()">
    <label>What's your opinion?</label>
    <input type="text" ng-model="tmpOpinion" />
    <button type="submit" class="button button-positive button-block">Add</button>
  </form>
  <div class="wordCount">
    <h4>Word Count</h4>
    <p ng-repeat="(key, value) in words">{{key}} ({{value}})</p>
  </div>
</div>
